


DB_USER=postgres
DB_NAME=teslo-shop
DB_PASSWORD=123456


# openssl rand -base64 32
AUTH_SECRET=your-secret-key


# ==== PayPal
# https://developer.paypal.com/dashboard
# fernando.herrera85-buyer@gmail.com
# A123456789
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=

# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token
#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders


# https://console.cloudinary.com
# Este URL es el necesario para colocar las imagenes
CLOUDINARY_URL=


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:123456@localhost:5432/teslo-shop?schema=public"